/* these designs come with the default bookdown template */
p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}




/* definition tables (RZ) */
.book .book-body .page-wrapper .page-inner section.normal .deftab td,
.book .book-body .page-wrapper .page-inner section.normal .deftab th,
.book .book-body .page-wrapper .page-inner section.normal .deftab tr
{
  padding:0;
  border-style: hidden;
  background-color: white;
}

.deftab th, .deftab td {
  vertical-align: top;
  text-align: left;
}
.deftab th {
  width: 20%;       /* header cells are 20% width (first column) */
}
.deftab td:nth-child(1) {
  width: 20%;       /* first td cell also 20% width (first column) */
}



/* comparison tables (RZ) */
.comtab, .comtab th, .comtab td, .comtab tr {
  border: 1px solid black;
  border-collapse: collapse;
  background-color: white;
  /*  padding-left: 0px; */   /* somehow this is not working!! */
}
.comtab th, .comtab td {
  padding: 5px;
  vertical-align: top;
  text-align: left;
}



/* boxes with warnings, notes, tips,... */
.rmdcaution, .rmdimportant, .rmdnote, .rmdtip, .rmdwarning {
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  background: #f5f5f5 5px center/3em no-repeat;
}
.rmdcaution {
  background-image: url("figures/02_css/caution.png");
}
.rmdimportant {
  background-image: url("figures/02_css/important.png");
}
.rmdnote {
  background-image: url("figures/02_css/note.png");
}
.rmdtip {
  background-image: url("figures/02_css/tip.png");
}
.rmdwarning {
  background-image: url("figures/02_css/warning.png");
}

